body{
     
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        -webkit-animation: gradient 15s ease infinite;
                animation: gradient 15s ease infinite;
        height: 100vh;
    }

body{
    
        -webkit-animation: gradient 15s ease infinite;
        animation: gradient 15s ease infinite;
     }

     @-webkit-keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
     
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .anchor{
    
    position: relative;
    top: 50vh;
    bottom: 50vh;
    left: 50vh;
    right: 50vh;
    width: max-content;
    font-size: 50px;
    cursor: pointer;
   
    
    }
    .anchor::after{
        content: "";
        position: absolute;
        bottom: -5px;
        height: 4px;
        width: 100%;
        left: 0;
        background-color: #000;
        transition: o.3s;
        transition-timing-function: ease-in-out;
        transform: scaleX(0);
    }
.anchor:hover::after{
    transform: scaleX(1);
}
    
   
    

        
        

    

        
        
    

    
          
    

    
    







   